<% layout('layouts/template') %>
<form action="/admin/new" method="POST">
   <div class="card">
      <ul class="list-group list-group-flush">
         	<li class="list-group-item">
            <div class="mb-3">
               <label for="course-id" class="form-label">Course id</label>
               <input type="text" class="form-control" id="course-id" placeholder="ID" name="id" required>
            </div>
         </li>
		   <li class="list-group-item">
			<label for="day" class="form-label">Day</label>
            <select class="form-select" id="day" name="day" required aria-label="Default select example">
               <option selected>Select</option>
               <option value="Saturday">Saturday</option>
               <option value="Sunday">Sunday</option>
               <option value="Monday">Monday</option>
               <option value="Tuesday">Tuesday</option>
            </select>
         </li>
		   
      </ul>
      <button class="btn btn-primary my-3 mx-5">Create</button>
   </div>
</form>